<div>
  <header>
    <h3>Menú de navegación</h3>
  </header>

  <!-- falta hacer la lógica del boton en un componente boton (carpeta components!!!!-->
  <nav class="nav"> 
    <a mat-button router-Link="usuarios">Usuarios</a>
    <a mat-button router-Link="productos">Productos</a>
    <a mat-button router-Link="carrito">Carrito</a>
    <a mat-button router-Link="login">Login</a>
  </nav>


  <section class= "nav section"> Sección principal
    <router-outlet></router-outlet>
  </section>
</div>



