header{
    display: flex;
    justify-content: center;
    padding: 40px;
  }

.nav {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

.section {
    padding:50px;
  }
  
.margen {
  margin-top: 10px;
}
 