header{
    display: flex;
    justify-content: center;
    padding: 40px;
  }

.nav {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

.section {
    margin:50px;
    padding: 10px;
  }
  
 